asgiref==3.7.2
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
distlib==0.3.7
Django==4.2.4
django-clearcache==1.2.1
django-cors-headers==4.2.0
django-embed-video==1.4.9
django-pwa==1.1.0
djangorestframework==3.14.0
docutils==0.20.1
easy-thumbnails==2.8.5
feedgenerator==2.1.0
filelock==3.12.2
greenlet==2.0.2
idna==3.4
importlib-metadata==6.8.0
Jinja2==3.1.2
livereload==2.6.3
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
msgpack==1.0.5
mypy==1.4.1
paperclip==2.7.2
pelican==4.8.0
pi==0.1.2
Pillow==9.5.0
platformdirs==3.10.0
psutil==5.9.5
psycopg2-binary==2.9.6
Pygments==2.16.1
pynvim==0.4.3
pyperclip==1.8.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-magic==0.4.27
pytz==2023.3
requests==2.31.0
rich==13.5.2
speedtest-cli==2.1.3
sqlparse==0.4.4
tomli==2.0.1
tornado==6.3.3
types-Pillow==10.0.0.2
Unidecode==1.3.6
urllib3==2.0.4
virtualenv==20.21.0
whitenoise==6.5.0
zipp==3.16.2
